@tailwind base;
@tailwind components;
@tailwind utilities;


#game-options {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 150px;
  border: 1px solid black;
}

/* Remove scroll bars */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#game-canvas {
  width: 2000px;
  height: 1250px;
}